.personaldtls{
    width: 100%;
}

.personaldtls agggregation{
width: 100%;
opacity: 1;
}

.personaldtls p{
    background-color: #85d7f8;
    color: #000066;
    text-align: left;
    padding-left: 5%;
}


.personaldtls span{
    color: red;
  }