.updateform {
  background-color: white !important;
  width: 100%;
  align-content: center;
}

.updateform formcontrol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.updateform row {
  width: 100%;
  float: left;
}

.updateform label {
  color: #000066;
  text-justify: left;
  width: 20%;
  font-family: Gill Sans, sans-serif;
  text-align: left;
  margin-left: auto;
}

.updateform input,
select {
  text-align: left;
  line-height: 18px;

  width: 20%;
  margin-right: 4%;
}
